.container {
  position: relative;
}
.buttons {
  display: block;
  margin-left: 65%;;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 35%;
  display: flex;
  justify-content: space-between;
}
.buttons button {
  padding: 10px 30px;
  font-size: 14px;
}

